<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-159851142-1', 'auto');
ga('require','GTM-NBNCTL5');
ga('send', 'pageview');
</script>
</head>
<body>
	{{#if viewAlt}}

	{{else}}
		<style>
			header {
				background-color: #2ac6bb!important;
			}
			header #titleT {
				color: #fff;
			}
		</style>
	{{/if}}
<div id="box">
	<header>
		{{#if viewAlt}}
			<div class="menu">
				<img src="photo/menu.png" alt="" >
				<ul>
					<li>
						<a href="/"><img src="photo/1_in.png"> <span>HomePage</span></a>
					</li>
					<li>
						<a href="/calendar"><img src="photo/2.png"><span>Calendar</span></a>
					</li>
					<li>
						<a href="/Assignment"><img src="photo/3.png"><span>Add Assignment</span></a>
					</li>
					<li>
						<a href="/Planforme"><img src="photo/5.png"><span>Plan For Me</span></a>
					</li>
				</ul>
			</div>
		{{/if}}

		{{#if fburl }}
			<a href="/login"><img src='{{fburl}}' id="login"></a>
		{{else }}
			<a href="/login"><img src='photo/6.png' id="login"></a>
		{{/if}}
		<h3 id="titleT" style="font-size: 30px; font-family: 'Ubuntu-Blod'; position: absolute;width: 100%;line-height: 72px;margin: 0;" class="highColor"></h3>
	</header>
	<div class="content">
		{{#if viewAlt}}
				{{#each assignment}}
					<div class="objS viewAlt">
							{{#if isFinish}}
								<img class="finish" src="photo/finish.png" width="36" alt="">
							{{/if}}
							<h4 class="title highColor">{{name}}
								<i></i>
							</h4>
							<div style="display: none;">
								<h4>{{classN}}</h4>
								<h3>Due Date: {{formatDate date}}</h3>
								<h3>Time Left: {{countTime date}} days</h3>
								<button class="delete" style="float: right;" onclick="deleteID('{{id}}')">Delete</button>
							</div>
					</div>
				{{/each}}

		{{else}}
					{{#each assignment}}
					<div class="page_a ">
						<div class="pic">
							{{#if isFinish}}
									<img src="photo/_job.png" alt="">
							{{else}}
							<img src="/photo/job.png" alt="">
							{{/if}}
						</div>

						<div class="assignment">
							
							<p class="highColor">{{name}}</p>
							<p>{{classN}}</p>
							<p>Due Date: {{formatDate date}}</p>
							<p>Time Left: {{countTime date}} days</p>
						</div>
							<div class="finish">
								{{#if isFinish}}
								<div class="img">
									<img  src="photo/finish.png" width="36" alt="">
								</div>
								{{/if}}
								<div class="img _delete">
									<img src="photo/delete.png"  width="32"  onclick="deleteID('{{id}}')"></img>
								</div>
							</div>
					</div>
					{{/each}}
		{{/if}}

	</div>
	{{#if viewAlt}}
		<style>
			.content  {
				height: calc(100% - 72px)!important;
				padding-bottom: 0!important;
			}
		</style>
	{{else}}
		<div id="footer">
			<div id="footer1">
				<a href="/"><img src="photo/1_in.png"></a>
			</div>
			<div id="footer2">
				<a href="/calendar"><img src="photo/2.png"></a>
			</div>
			<div id="footer3">
				<a href="/Assignment"><img src="photo/3.png"></a>
			</div>
			<div id="footer5">
				<a href="/Planforme"><img src="photo/5.png"></a>
			</div>
		</div>
	{{/if}}
</div>



<script src="js/jquery.js"></script>
<script src="js/Popup.js"></script>
<script src="js/handlebars.min-v4.7.3.js"></script>
<script src="js/json.js"></script>
<script src="js/common.js"></script>

<script>
    $(function () {
        var myDate = new Date();
        var xTtime = myDate.toLocaleDateString( ).replace(/\//g, '-');       //update due date
				var titleT=new Date(xTtime).toDateString();
				$("#titleT").html(titleT);
				window.DeletePopup = new $.Popup({content: 'Delete Assignment'})
				$(".viewAlt .title>i").on("click",function(e){
					$(e.target.parentElement.nextElementSibling).toggle()
				})

				
				$(".menu").on("click",function(){
					if(!$(".menu>img")[0].rotate) {
						$(".menu>ul").show()
						$(".menu>img").css({'transform':'rotate(90deg)'});   
						$(".menu>img")[0].rotate = true
						$("body").on("click",menuClick)
					} else {
						$(".menu>ul").hide()
						$(".menu>img").css({'transform':'none'});   
						$(".menu>img")[0].rotate = false
					}
				})
    })
		function menuClick(e){
			if(!$(".menu")[0].contains(e.target)) {
				$(".menu ul").hide()
				$(".menu>img").css({'transform':'none'});
				$("body").off("click",menuClick)  
			} 
		}
		function deleteID(id) {
			window.DeletePopup.Show()
			
			window.DeletePopup._opts.nocb = function(){
			 ga("send","event","No","click")
			 window.DeletePopup.Close()
			 }
			window.DeletePopup._opts.yescb = function() {
			 ga("send","event","Yes","click")
				$.post("/api/deleteAssignmentByID",{id},function(data){
					if (data.code == 0) {
						alert("delete success")
						location.reload()
					}
				})
			}
			
		}
    
</script>
</body>
</html>
