<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<link rel="stylesheet" type="text/css" href="css/Planforme.css">
	<script src="/js/jquery.js"></script>
	
</head>

<body>
<div id="box">
	<div id="header" style="text-align: center;">
		Plan for me
	</div>
	<div class="step" step='1'>
		<div id="jsonWrap">
					{{#each assignment}}
					<div class="objS">
						<input type="checkbox" name="cb" data-id="{{id}}">
							<h4 class="highColor">{{name}}</h4>
							<h4>{{classN}}</h4>
							<h3>Due Date: {{formatDate date}}</h3>
							<h3>Time Left: {{countTime date}} days</h3>
					</div>
					{{/each}}
		</div>
		<div id="continue">
			<button  onclick="to(1,2)">
				continue
			</button>
		</div>
	</div>

	<div class="step" step='2'>
		<div id="jsonWrap">
			<h4>How long do you want to study for?</h4>

			<div class="timeset">
				<input type="number" class="time"> hour 
				<input type="number" class="time"> min
			</div>
			
			<div id="warning" >
				<div class="top">
					1 hour might bot be sufficient to complete the selected assignments. Do you want to continue?
				</div>
				<button onclick="">Yes</button>
				<button onclick="WarningModel('hide')">Edit Time</button>
			</div>
		</div>

		<div class="operating"  >
			<button   onclick="to(2,3)">
				continue
			</button>
		</div>
	</div>

	<div class="step" step='3'>

	</div>


	
	<div id="back">
		<a href="/"><img src="photo/arrow.png"></a>
	</div>

</div>

<script>
	function to(curr,to) {
		if (window.isModal) {
			return
		}

		if(to == 2) {

			var hasCheckItem = []
			$("[name='cb']").each(function(index,item){
				if(item.checked) {
					hasCheckItem.push(item.dataset['id'])
				}
			})
			if (hasCheckItem.length == 0) {
				alert("Please select one!!!")
				return
			} 

			$.post("/api/AssignmentList/",{id: hasCheckItem.join(",")},function(data) {
				if (data.code==0) {
					window.needTime  = 0
					window.WellDo = data.data 
					data.data.forEach(function(item){
						window.needTime += parseInt(item.time)
					})
					alert(window.needTime)
				}
			})
		}
		

		if(to !== 1) {
			$("#back>a").attr("href",`javascript:to(${to},${curr})`)
		} else {
			$("#back>a").attr("href","/")
		}

		$(".step").hide()
		$("[step="+to+"]").show()
		

	}

	function WarningModel(target) {
		if(target == 'show') {
			$("#warning").show()
			window.isModal = true
		} else {
			$("#warning").hide()
			window.isModal = false
		}
	}
</script>
</body>
</html>